<head>

    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/ajax_app.css">

    <script type="text/javascript" src="/static/js/vendor/jquery-1.9.1.js"></script>
     <script src="/static/js/vendor/nunjucks.min.js"></script>
    <script type="text/javascript" src="/static/js/test-ajax.js"></script>
    
   
</head>

<body>
<h1> Test AJAX Page  {{ page_name}} </h1>

<button id='B1' type="button" onclick="myfun();"> click me </button>

<div id='C1'> Click to load json </div>

<div id='results'> </div>

<div id='results2'></div>

</body>



